<div class="quadras">
  <div class="quadra_2 dupla-top">
    <div class="dupla dupla-top">
      <div>
        <img src="../../../assets/images/coello.png" alt="" />
      </div>
      <div>
        <img src="../../../assets/images/tapia.jpg" alt="" />
      </div>
    </div>
    <div class="dupla dupla-bottom">
      <div>
        <img src="../../../assets/images/franco_sptupaczuk.png" alt="" />
      </div>
      <div>
        <img src="../../../assets/images/juan_lebron.png" alt="" />
      </div>
    </div>
  </div>
</div>
