.quadra {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #005ca1;
  border: 1px solid black;
  width: 150px;
  height: 250px;

  img {
    // width: 50px;
    height: 50px;
    border-radius: 32px;
  }

  //   .container-rede {
  //     height: 200px;
  //     width: 500px;
  //   }

  .linha {
    width: 5px; // Define a largura da linha
    height: 200px; // Define a altura da linha (espessura)
    background-color: white; // Define a cor preta para a linha
  }

  .container-rede {
    display: flex;
    flex-direction: row;
    .rede {
      border-radius: 0;
      width: fit-content;
      height: 20px;

      margin: 0px;
      padding: 0px;

      //   transform: rotate(90deg); /* Gira a imagem 45 graus */
      //   transition: transform 0.3s ease; /* Adiciona uma animação suave ao rodar */

      // overflow: hidden; /* Oculta qualquer parte da imagem que exceda o contêiner */

      // clip-path: inset(
      //   0 30%
      // ); /* Cortando 30% das laterais (esquerda e direita) */
    }
  }

  .dupla {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    //LINHA DE DUPLA
    .linhaDupla {
      width: 5px; // Define a largura da linha
      height: 200px; // Define a altura da linha (espessura)
      background-color: white; // Define a cor preta para a linha
    }
  }
}

.espelha-img {
  transform: scaleX(-1);
}

.ajusta-rede {
  // clip-path: inset(50px 0 50px 0); /* Recorta 50px de cima e embaixo da imagem */
  clip-path: inset(0px 0px 0px 15px);
  border: 1px solid black;
}

.quadras {
  display: flex;
  gap: 15px;
}

.quadra_2 {
  background-image: url(./../../../assets/images/quadra-padel.svg);
  //   height: 327px; //altura real da img
  //   width: 186px; //largura real da imagem
  height: calc(327px - 40px); //altura real da img
  width: calc(186px - 40px); //largura real da imagem
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  .dupla-top {
    display: flex;
    justify-content: space-between;
  }

  .dupla-bottom {
    display: flex;
    justify-content: space-between;
  }

  img {
    // width: 50px;
    height: 50px;
    border-radius: 32px;
  }
}
